.m-container {
  display: flex;
  flex-wrap: wrap;
  .m-left {
    flex: 0 0 350px;
    width: 350px;
    padding: 0 50px 0 40px;
    box-sizing: border-box;
  }
  .m-right {
    flex: 1;
    min-width: 560px;
    max-width: 960px;
  }
  .u-title {
    font-size: 14px;
    color: #C1BDBF;
  }
  .m-page {
    display: inline-block;
    line-height: 50px;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0 20px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    width: 100px;
  }
  .m-page+.m-page {
    margin-left: 10px;
  }
}