.m-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-logo {
  width: 140px;
  height: 140px;
}
.u-title, .u-subtitle {
  margin: 0;
}
.u-title {
  font-size: 35px;
  color: #00adff;
}
.u-subtitle {
  font-size: 18px;
  color: #fff;
}