.g-index {
  background-image: url("../image/icsmap.png");
  background-color: black;
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: center center;
  .g-main {
    height: calc(100vh - 96px);
    min-height: 504px;
    text-align: center;
  }
}
