.c-situation {
  display: flex;
  min-width: 1090px;
  min-height: 700px;
  background: rgb(27,27,27);
  * {
    box-sizing: border-box;
  }
}
.g-center, .g-left, .g-right {
  display: flex;
  flex-direction: column;
  .m-block {
    flex: 1;
  }
}
.g-center {
  flex: 1;
  .m-map {
    flex: 1 1 60%;
  }
  .m-follow, .m-situation {
    flex: 1 1 20%;
  }
}
.g-left, .g-right {
  flex: 0 0 330px;
}
.m-province {
  overflow: auto;
}