.c-situation {
  display: flex;
  min-width: 1090px;
  min-height: 700px;
  background: rgb(27,27,27);
  * {
    box-sizing: border-box;
  }
}
.g-center, .g-left, .g-right {
  height: 100%
}
.g-left {
  .m-block {
    height: 33.3%;
  }
}
.g-center {
  flex: 1;
  .m-map {
    height: 60%;
  }
  .m-follow, .m-trend {
    height: 20%;
  }
}
.g-right {
  .m-block {
    height: 25%;
  }
}
.g-left, .g-right {
  flex: 0 0 330px;
}
.f-scroll {
  overflow: auto;
}