.c-block {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.c-column {
  display: inline-block;
}
.u-title {
  flex: 0;
  font-size: 16px;
  line-height: 1.41;
  text-align: center;
  color: white;
}
.c-container {
  flex: 1;
}