.c-block {
  border: 1px solid white;
  display: inline-block;
  width: 100%;
  position: relative;
}
.c-column {
  display: inline-block;
}
.u-title {
  font-size: 16px;
  line-height: 1.41;
  text-align: center;
  color: white;
}