.c-search {
  background-color: #1b1b1b;
  .m-main {
    background-color: #1b1b1b;
    min-height: calc(100vh - 198px);
    padding-bottom: 40px;
    .defaultResult {
      color: white;
      text-align: center;
      box-sizing: border-box;
      min-height: 439px;
      height: calc(100vh - 198px);
      background-color: #1b1b1b;
      padding-top: 100px;
      h1 {
        margin-top: 0px;
      }
    }
  }
}
.c-not-input {
  height: 560px;
  text-align: center;
  color: white;
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}