body {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  min-width: 1090px;
  min-height: 600px;
}
:global(#root) {
  display: flex;
  flex-direction: column;
}
:global(.g-container) {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}